<div class="container-fluid">
  <div class="container xd-container">

    <h2>Lista de ofertas</h2>
    <table class="table table-striped">
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Descuento</th>
        <th>Fecha</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <app-offer-list *ngFor="let offer of offers"></app-offer-list>
        <tr>
          <td>{{offer.title}}</td>
          <td>{{offer.descriptios}}</td>
          <td>{{offer.discount}}</td>
          <td>{{offer.expireDate}}</td>
          <td><button #idEditOffer class="btn btn-default" (click)="editOffer()">Edit Offer</button></td> 
          <td><button #idAddOffer class="btn btn-default" (click)="addOffer()">Add New Offer</button></td> 
          <td><button #idDeleteOffer class="btn btn-default" (click)="deleteOffer()">Delete Offer</button></td>
        </tr>
    </app-offer-list>
    </table>
  </div>
</div>
